.desc-con {
  padding-right: 20px;
  height: 500px;
}

.desc-con > p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: bold;
}

.desc-name {
  font-size: 0.8rem;
  font-weight: normal;
}